body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

#cry-image {
  width: 250px;
  margin-bottom: 20px;
  cursor: pointer;
}

.global-counter {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.case {
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.locked {
  filter: grayscale(1);
}
